@font-face {
  font-family: 'SF';
  src: url('./fonts/sf_ui_display_thin.woff2') format('woff2'),
    url('./fonts/sf_ui_display_thin.woff') format('woff');
  font-weight: 100;
}

@font-face {
  font-family: 'SF';
  src: url('./fonts/sf_ui_display_light.woff2') format('woff2'),
    url('./fonts/sf_ui_display_light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'SF';
  src: url('./fonts/sf_ui_display_regular.woff2') format('woff2'),
    url('./fonts/sf_ui_display_regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'SF';
  src: url('./fonts/sf_ui_display_medium.woff2') format('woff2'),
    url('./fonts/sf_ui_display_medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'SF';
  src: url('./fonts/sf_ui_display_bold.woff2') format('woff2'),
    url('./fonts/sf_ui_display_bold.woff') format('woff');
  font-weight: 700;
}
