@import 'fonts.css';
@import 'vars.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'SF', serif;
  color: var(--black);
}

a {
  text-decoration: none;
}
