.main {
  display: grid;
  place-content: center;

  width: 100%;
  min-height: 100vh;
  background-color: var(--red-dark);
}

.contentContainer {
  height: 300px;
  width: 300px;
  background-color: var(--white);
}

.logo {
  display: grid;
  justify-items: center;
  gap: 10px;
}

.logoText {
  font-size: 2.4rem;
  font-weight: 300;
  color: var(--white);
  letter-spacing: 0.3px;
}

.copy {
  color: var(--white);
  font-size: 1rem;
}
